{% extends "layout.html" %}
{% block content %}

<br>
{% if current_user.is_anonymous %}
<p>You can sign up for an account if you click the signup button above.</p>
<p>Or you can login if you have an account.</p>
{% endif %}
{% if not current_user.is_anonymous %}
<p>VIDEO GAME TIME</p>

Your name: {{ current_user.name }},
Your Damage: {{ current_user.attack }},
Your Defence: {{ current_user.defence }},
Your Coins: {{ current_user.coins }}




{% endif %}
{% endblock content %}