{% extends "layout.html" %}
{% block content %}

<br>
{% if current_user.is_anonymous %}
<p>You can sign up for an account if you click the signup button above.</p>
<p>Or you can login if you have an account.</p>
{% endif %}
{% if not current_user.is_anonymous %}
<p>VIDEO GAME TIME</p>

Your name: {{ current_user.name }}, <br>
Your Damage: {{ current_user.attack }}, <br>
Your Defence: {{ current_user.defence }}, <br>
Your Coins: {{ current_user.coins }}

/change/type/id/ammount




{% endif %}
{% endblock content %}