<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Game Using Flask</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
</head>
<body style="padding: 5px;">
<!-- NAVIGATION BAR LOL HAHAH BIG CHUNGUS -->
<div class="flash">
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger" role="alert">
         <p>{{ message }}</p>
        </div>
      {% endfor %}
   {% endif %}
{% endwith %}
</div>

    <nav>
        <div class="dropdown">
            <a class="btn btn-primary" href="{{ url_for('home') }}">Home</a>
            <a class="btn btn-primary" href="{{ url_for('showlist') }}">List</a>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Account
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
            <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
            <li><a class="dropdown-item" href="{{ url_for('signup') }}">Signup</a></li>
            </ul>
            
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Game
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item {% if not current_user.is_authenticated %}disabled{% endif %}" href="{{ url_for('hunt') }}">Hunt</a></li>
            <li><a class="dropdown-item {% if not current_user.is_authenticated %}disabled{% endif %}" href="{{ url_for('hunt') }}">Chop</a></li>
            <li><a class="dropdown-item {% if not current_user.is_authenticated %}disabled{% endif %}" href="{{ url_for('hunt') }}">Fish</a></li>
            </ul>
            
        </div>
    </nav>
    {% if not current_user.is_anonymous %}
    <p>Current User: {{ current_user.name }}</p>
    {% endif %}
<!-- END OF BIG CHUNGUS NAVIGATION BAR -->
    {% block content %}

    {% endblock content %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</html>