{% extends "layout.html" %}
{% block content %}

<br>
{% if current_user.is_anonymous %}
<p>You can sign up for an account if you click the signup button above.</p>
<p>Or you can login if you have an account.</p>
{% endif %}
{% if not current_user.is_anonymous %}



<p>You gained {{ healthchange }} health points.</p>
<p>You gains {{ coinsgained }} coins.</p>

Current Health: {{ current_user.health }}
Current Coins: {{ current_user.coins }}





{% endif %}
{% endblock content %}